# Environment variables and API keys
.env

# Backend files ignored from git repo
src/
api/
main.py

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Vector database cache
chroma_db/

# OS files
.DS_Store
Thumbs.db
